# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# environment variables
.env
.env.production
.dev.vars

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# wrangler
.wrangler/

# bun
bun.lockb   # I'm the only one working on this blog . . . don't need lock files