h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

pre code {
  /* Box properties */
  display: block;
  padding: 0.5rem;
  margin: 0.3rem 0;

  /* Typography */
  font-family: monospace; /* Common font for code */
  white-space: pre-wrap;
  overflow-x: auto;
}
