---
import ContactForm from "../components/vue/ContactForm.vue";
import BaseLayout from "../layouts/BaseLayout.astro";
import Social from "../components/Social.astro";

export const prerender = false;

const pageTitle = "hello world!";

const socialLinks = [
  { platform: "linkedin", username: "corey-damocles" },
  { platform: "github", username: "ubemacapuno" },
];
---

<BaseLayout {pageTitle}>
  <img src="/images/hero-1.jpg" alt="Corey Damocles" class="portrait" />
  <div class="my-4">
    <p class="mb-4">
      I'm a Phoenix-based photographer and software developer. I was inspired to
      try film photography by a friend in fall 2024 during a rock climbing trip
      to Priest Draw, Arizona. Having to slow down and think through each shot
      was a refreshing shift from the speed of digital photography. I'm
      currently focused on shooting film, but I'll also be sharing digital
      photography from time to time.
    </p>

    <p class="mb-4">
      With a couple of used Pentax film cameras I found on eBay, I've learned to
      slow things down and appreciate the craft of operating completely manual
      cameras. I found a thrill in having limited shots to strive for the
      perfect frame.
    </p>

    <p class="mb-4">
      I
      <a
        href="https://github.com/ubemacapuno/astro-photo-blog"
        class="link"
        target="_blank"
        rel="noopener noreferrer">coded this website</a
      >
      to explore web technologies like <a
        href="https://astro.build/"
        class="link"
        target="_blank"
        rel="noopener noreferrer">Astro</a
      > and <a
        href="https://vuejs.org/"
        class="link"
        target="_blank"
        rel="noopener noreferrer">Vue.js</a
      >, combining my passions for software development and photography. I also
      wanted to share my photography the way I want, without having to crop,
      force aspect ratios, and overly compress my photos (looking at you,
      Instagram!!).
    </p>

    <p class="mb-4">
      When I'm not behind the camera or screen, you'll find me at climbing gyms
      or crags around Arizona, hiking throughout the Phoenix valleys, or
      tinkering with personal projects. Originally from Michigan, I've called
      Phoenix home since 2018.
    </p>

    <div>
      <p>Welcome to my site!</p>
      <p class="text-2xl font-bold">- Corey</p>
    </div>    

    <div class="border-t border-gray-200 my-8"></div>

    <div class="flex flex-col gap-4 my-2">
      <h2 class="text-3xl font-bold">Contact</h2>
      <p>
        Project ideas? Whether it’s a photoshoot, a website, or an app, I’d love to hear from you!
      </p>

      <div class="flex flex-row gap-4 mt-auto mt-24">
        {
          socialLinks.map((link) => (
            <Social platform={link.platform} username={link.username} size={48}/>
          ))
        }
      </div>
    </div>
    <ContactForm client:load />
  </div>
</BaseLayout>
