---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("blog");

// Sort posts by pubDate (newest first)
const sortedPosts = allPosts.sort((a, b) => 
  b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <BlogPost allPosts={sortedPosts.map((post) => ({
    url: `/posts/${post.id}/`,
    frontmatter: {
      title: post.data.title,
      author: post.data.author,
      description: post.data.description,
      pubDate: post.data.pubDate,
      image: post.data.image,
      tags: post.data.tags,
    },
  }))} />
</BaseLayout>