---
import type { Post } from "../types";
import BlogPostCard from "./BlogPostCard.astro";

interface Props {
  allPosts: Post[];
}

const { allPosts } = Astro.props as Props;
---

<ul>
  {
    allPosts.map((post) => (
      <li class="my-4">
        <BlogPostCard post={post} />
      </li>
    ))
  }
</ul>
