---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";

const pathname = Astro.url.pathname;
const isHomepage = pathname === "/";
---

<header>
  <nav class="relative">
    <div class="flex justify-between items-center">
      <div class="md:hidden flex items-center">
        {
          !isHomepage && (
            <a
              href="/"
              data-astro-prefetch
              class="text-2xl tracking-wide font-bold uppercase anton-regular no-underline"
            >
              John DoeDoeDoe
            </a>
          )
        }
      </div>
      <Menu />
      <div class="hidden md:block md:ml-auto">
        <ThemeIcon />
      </div>
    </div>
    <Navigation />
  </nav>
</header>
