---
const pages = [
  { label: "Home", href: "/" },
  { label: "About", href: "/about/" },
  { label: "Blog", href: "/blog/" },
  { label: "Tags", href: "/tags/" },
]
---
<div id="main-menu" class="nav-links">
{pages.map((page) => (
  <a href={page.href} data-astro-prefetch>{page.label}</a>
))}
</div>