---
import { Icon } from 'astro-icon/components'
const { platform, username } = Astro.props;
---
<!-- Refactor to use Icon like <Icon name="mdi:linkedin" /> -->
<a
  href={`https://www.${platform}.com/${platform === "linkedin" ? "in/" : ""}${username}`}

>
  <Icon 
  name={`mdi:${platform}`}
  size={24}
   />
</a>
