---
const { platform, username } = Astro.props;
---

<a
  href={`https://www.${platform}.com/${platform === "linkedin" ? "in/" : ""}${username}`}
  class="px-4 py-2 text-white dark:text-black bg-black dark:bg-white no-underline hover:underline"
>
  {platform}
</a>
